<div class="main-content">
  <div class="block1">
      <div class="presentation">
          <p>Hi! With this rocket equation calculator, you can explore the principles of motion of the vehicles that we call rockets. <br></p>
          <p>For this purpose <strong>Tsiolkovsky's formula</strong> is used.</p>
      </div>
  </div>
  <!-- <div class="block2">
      <div id="weather-block">
          <p id="weather-block-notice">Just have a look! The weather is perfect for your journey!
          <script>GetWeather();</script>

      </div>
  </div> -->
</div>
